body {
  background-color: #f5f5ff;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  width: 80%;
}

.header {
  background-color: white;
  max-width: 100%;
  padding: 0 1rem;
}

.sort-by {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles-grid .MuiCard-root {
  flex: 1 0 200px;
  margin: 40px;
  height: 400px;
}

.cards {
  min-width: 300px;
  margin: 10px;
  cursor: pointer;
}

.card-content-date {
  color: #666;
  font-size: 0.8rem;
  display: flex;
}

.card-expand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-votes-comments {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
